/* ======================
   EVENT FORM (page Events)
====================== */
.event-form {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 0.3);
  padding: 25px;
  border-radius: var(--radius);
  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.15),
    inset 0 0 10px rgba(255, 0, 0, 0.2);
  max-width: 650px;
  margin: 0 auto 50px;
  backdrop-filter: blur(4px);
}

.event-form label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 6px;
  color: #ff4444;
  letter-spacing: 1px;
}

.event-form input,
.event-form textarea {
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(30, 30, 30, 0.4);
}

.event-form textarea {
  resize: vertical;
  min-height: 110px;
}

/* Submit button */
.event-form button {
  margin-top: 10px;
  padding: 12px 18px;
  background: #900000;
  border-radius: var(--radius);
  font-size: 1.1rem;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  transition: 0.25s ease;
}

.event-form button:hover {
  background: #cc0000;
  box-shadow:
    0 0 10px rgba(255, 0, 0, 0.4),
    0 0 20px rgba(255, 0, 0, 0.25);
  transform: translateY(-2px);
}
.no-event-block {
  text-align: center;
  padding: 30px 0;
  opacity: 0.9;
}

.no-event-block p {
  font-size: 1.2rem;
  margin-top: 12px;
  color: #ccc;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.3);
}