.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background: linear-gradient(180deg, #200000 0%, #0b0b0b 100%);
  transition: width 0.3s;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: hidden;
}

.sidebar:hover {
  width: 200px;
}

.sidebar-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar li {
  text-align: left;
  padding: 14px 20px;
  transition: background 0.3s;
}

.sidebar a, .sidebar button {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar li:hover {
  background: rgba(213, 26, 26, 0.3);
}
