.video-banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ⬅ vidéo centrée, sans zoom */
  object-position: center;
}